**/*~
**/*.swp
**/*.swo
**/*.aux
**/*.toc
**/*.bbl
**/*.blg
**/*.out
**/*.pdf
**/*.log
**/*.pyc
**/*.zip
**/*.synctex.gz # Fichero synctex de Maris
train/data/*
train/results/*
train/gui/*
.vscode
codigo_fuente.zip
